
@layer base {

  @font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Book-WebM.woff2') format('woff2'),
      url('../fonts/SuisseIntl-Book-WebM.woff') format('woff');
  }

  @font-face {
    font-family: 'Armag';
    src: url('../fonts/Armag-Fury.woff2') format('woff2'),
      url('../fonts/Armag-Fury.woff') format('woff');
  }

  * {
    font-family: 'SuisseIntl', 'Helvetica', sans-serif;
  }

  .vigia-magazine-link h2{
    font-family: 'Armag', 'Times', serif;
  }

  html {
    @apply scroll-smooth overflow-x-hidden;
  }

  html * {
    @apply text-xs2 lg:text-base;
  }

  *:focus-visible {
    @apply outline-1 outline-black;
  }

  body,
  #app {
    min-height: 100vh;
  }

  #app {
    /* @apply border-3 border-black border-t-0; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-lg text-center mb-5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    * {
      @apply text-lg text-center mb-5;
    }
  }

  hr {
    @apply my-5 lg:my-10 !max-w-none;
  }

  p,
  span,
  em,
  i,
  p a {
    @apply text-sm2 lg:text-base2;
  }

  p {
    @apply m-0 mb-5;
  }

  th {
    @apply font-normal;
  }

  sup {
    @apply !text-xs lg:!text-sm2 -translate-y-1;
    vertical-align: unset !important;
  }

  a {
    @apply underline lg:hover:text-gray-dark
      /* after:content-['']
      after:bg-arrow-up-right
      after:w-4
      after:h-4
      lg:after:w-5
      lg:after:h-5
      after:inline-block
      after:ml-1
      after:mr-1; */
  }

  li.product>a,
  .vigia-article-placeholder a,
  .vigia-simple-header,
  .vigia-magazine-article,
  .vigia-magazine-link,
  .cart_item a,
  .ab-item,
  .vigia-footnote a {
    @apply no-underline hover:text-black
      /* after:rotate-0
      after:hidden; */
  }


  li.vigia-menu-item>a,
  .price>a {
    @apply no-underline lg:hover:text-white;
  }

  hr {
    @apply border-0 border-b-3;
  }

  figcaption {
    @apply text-gray-dark text-xs2 lg:text-sm;
  }

  /**
  *========================================
  *
  *	Inputs
  *
  *========================================
  */

  input[type=radio],
  input[type=checkbox] {
    @apply border-3 border-black outline-none rounded-none after:bg-white after:content-[''] after:rounded-full after:border-3 after:border-black after:w-5 after:h-5 after:absolute checked:after:bg-black;

    margin-top: 0.4rem;
    visibility: hidden;

    &::after {
      margin-top: -0.1rem;
      /* margin-left: -0.6rem; */
      visibility: visible;
    }
  }
}

.browser-firefox input[type=radio],
.browser-firefox input[type=checkbox] {
    visibility: visible;
}

@layer components {

  /**
  *========================================
  *
  *	Vigia
  *
  *========================================
  */

  .vigia-content {
    @apply mx-auto my-0 pt-18 lg:pt-0;
  }

  .vigia-content-page {
    @apply container mx-auto p-5 lg:p-10 mt-7 mb-5;
  }

  .vigia-content-zeitschrift {
    @apply pb-0;
  }

  .vigia-inner {
    @apply pt-5 lg:pt-10 mx-auto pb-5 w-full
      min-h-screen
      /* max-w-screen-3xl
      3xl:border-x-3
      3xl:border-b-3 */
      border-black;

    >* {
      @apply mx-auto px-5 sm:max-w-md lg:max-w-1/2 lg:px-0 3xl:max-w-max-content-width;
    }
  }

  .vigia-header {

    @apply
      fixed
      lg:sticky
      lg:top-0
      w-full
      z-50
      lg:bg-white
      transition-all
      duration-long
      pointer-events-none
      flex
      flex-col
    ;

    nav {
      /* @apply
        order-2 lg:order-1; */
    }

    &.active {

      @apply bg-white;

      .vigia-menu-item:not(.current-menu-item),
      .vigia-simple-header {
        @apply opacity-100 pointer-events-auto bg-white hover:bg-black;
      }

      .current-menu-item a {
        @apply after:rotate-180;
      }
    }

    .vigia-simple-header {
      z-index: -1;
      @apply opacity-100 pointer-events-auto;
    }
  }

  .vigia-header-front {
    @apply lg:fixed;
  }

  .vigia-menu-item {
    @apply
    text-center
    flex-1
    basis-full
    transition-all
    duration-medium
    border-b-3
    border-black
    border-t-0
    order-2
    opacity-0
    pointer-events-none
    order-none

    lg:basis-1/4
    lg:w-auto
    lg:border-r-3
    lg:border-b-0
    lg:last:border-r-0
    lg:transition-colors
    lg:duration-medium
    lg:opacity-100
    lg:pointer-events-auto
    /* lg:order-1 */

    3xl:last:border-r-3
    hover:bg-black
    hover:text-white;

    a {
      @apply w-full h-full p-2.5 inline-block uppercase text-lg;
    }

    &.current-menu-item {
      @apply bg-white lg:text-white pointer-events-auto order-1 lg:order-none opacity-100 lg:bg-black hover:text-black lg:hover:text-white lg:hover:bg-black;

      a {
        @apply /*text-white*/ after:inline-block after:transition-transform after:duration-medium after:content-[''] after:bg-arrow-down after:w-7 after:h-7 after:mt-3 after:ml-1 after:bg-no-repeat lg:after:hidden pointer-events-none lg:after:ml-0;
      }
    }
  }

  .vigia-button,
  input[type=button],
  input[type=submit] button,
  a.button:not(.add_to_cart_button),
  a[download],
  a.wp-block-button__link,
  a.restore-item,
  .button:not(.add_to_cart_button) {
    @apply
    border-3
    border-black
    px-5
    py-2.5
    text-black
    rounded-none
    bg-white
    text-lg
    inline-block
    text-center
    uppercase
    transition-colors
    duration-medium
    hover:!bg-black
    hover:!text-white
    after:hidden
    no-underline;

    hyphens: auto;

    a {
      @apply hover:!text-white;
    }
  }

  .vigia-before-arrow {
    @apply
    before:content-['']
    before:w-3
    before:h-3
    lg:before:w-5
    lg:before:h-5
    before:relative
    before:inline-block
    before:bg-no-repeat
    before:ml-1;
  }

  .vigia-before-arrow-left {
    @apply
      before:bg-arrow-left
      group-hover:before:bg-arrow-left-negative;
  }

  .vigia-before-arrow-right {
    @apply
      before:bg-arrow-right
      group-hover:before:bg-arrow-right-negative;
  }

  .vigia-before-arrow-up {
    @apply
    before:bg-arrow-up
    group-hover:before:bg-arrow-up-negative
    before:translate-y-[10%]
    lg:before:translate-y-0;
  }

  .vigia-before-arrow-down {
    @apply
    before:bg-arrow-down
    group-hover:before:bg-arrow-down-negative
    before:translate-y-[10%]
    lg:before:translate-y-0;
  }

  .vigia-before-arrow-up-right {
    @apply
    before:bg-arrow-up-right
    group-hover:before:bg-arrow-up-right-negative;
  }

  .vigia-before-arrow-hover {
    @apply
    before:transition-all
    before:duration-long;
  }

  .vigia-after-arrow {
    @apply
    after:content-['']
    after:w-3
    after:h-3
    lg:after:w-5
    lg:after:h-5
    after:relative
    after:inline-block
    after:bg-no-repeat
    after:mr-1;
  }

  .vigia-after-arrow-left {
    @apply
    after:bg-arrow-left
    group-hover:after:bg-arrow-left-negative;
  }

  .vigia-after-arrow-right {
    @apply
    after:bg-arrow-right
    group-hover:after:bg-arrow-right-negative;
  }

  .vigia-after-arrow-up {
    @apply
      after:bg-arrow-up
      group-hover:after:bg-arrow-up-negative
      after:translate-y-[10%]
      lg:after:translate-y-0;
  }

  .vigia-after-arrow-down {
    @apply
      after:bg-arrow-down
      group-hover:after:bg-arrow-down-negative
      after:translate-y-[10%]
      lg:after:translate-y-0;
  }

  .vigia-after-arrow-up-right {
    @apply
      after:bg-arrow-up-right
      group-hover:after:bg-arrow-up-right-negative;
  }

  .vigia-after-arrow-hover {
    @apply
      after:transition-all
      after:duration-long;
  }

}

/**
*========================================
*
*	Minor Plugins
*
*========================================
*/


/**========================
*	Mailer Lite
*========================*/

#mailerlite-form_1 {

  .mailerlite-form {

    .mailerlite-form-title,
    .mailerlite-form-description {
      @apply hidden;
    }

    .mailerlite-form-title {
      @apply hidden;
    }

    .mailerlite-form-inputs {
      @apply flex flex-col;

      label {
        @apply  !hidden;
      }

      .mailerlite-form-field {
        @apply flex-1 basis-full;

        input {
          @apply border-b-3 border-black placeholder:text-gray-dark mx-auto block;
        }
      }

      .error {
        @apply hidden;
      }

      input[type=submit] {
        @apply  !text-black placeholder:!text-black;
      }

      input[type=submit] {
        @apply  !border-3 !border-black !px-5 !py-2.5 !text-black !rounded-none !bg-white !text-lg !inline-block !text-center opacity-50 pointer-events-none cursor-pointer
        /* uppercase */
        transition-colors duration-medium hover:!bg-black hover:!text-white;

        &.active {
          @apply opacity-100 pointer-events-auto;
        }
      }
    }

  }
}
