@layer base {

  @font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Book-WebM.woff2') format('woff2'),
      url('../fonts/SuisseIntl-Book-WebM.woff') format('woff');
  }

  * {
    font-family: 'SuisseIntl', 'Helvetica', noserif;
  }

  html {
    @apply scroll-smooth;
  }

  html * {
    @apply text-sm lg:text-base;
  }

  *:focus-visible {
    @apply outline-1 outline-black;
  }

  body,
  #app {
    min-height: 100vh;
  }

  #app {
    @apply border-3 border-black border-t-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-lg text-center uppercase mb-5;
  }

  hr {
    @apply my-5 lg:my-10 !max-w-none;
  }

  p,
  span,
  em,
  i {
    @apply text-sm lg:text-base;
  }

  p {
    @apply m-0 mb-5;
  }

  th {
    @apply font-normal;
  }

  a {
    @apply
      after:content-['']
      after:bg-arrow-up-right
      after:w-4
      after:h-4
      lg:after:w-5
      lg:after:h-5
      after:inline-block
      after:ml-1
      after:mr-1;
  }

  li.vigia-menu-item > a,
  .price > a,
  li.product > a,
  .vigia-article-placeholder a,
  .vigia-simple-header,
  .vigia-magazine-article,
  .vigia-magazine-link,
  .cart_item a,
  .ab-item {
    @apply
      after:rotate-0
      after:hidden;
  }

  hr {
    @apply
      border-0
      border-b-3;
  }


  /**
  *========================================
  *
  *	Inputs
  *
  *========================================
  */

  input[type=radio],
  input[type=checkbox] {
    @apply
      border-3
      border-black
      outline-none
      rounded-none
      after:bg-white
      after:content-['']
      after:rounded-full
      after:border-3
      after:border-black
      after:w-5
      after:h-5
      after:absolute
      checked:after:bg-black;

    margin-top: 0.4rem;

    &::after {
      margin-top: -0.1rem;
    }
  }
}

@layer components {

  /**
  *========================================
  *
  *	Vigia
  *
  *========================================
  */

  .vigia-content {
    @apply
      mx-auto
      my-0
      pb-5;
  }

  .vigia-content-page {
    @apply container mx-auto p-5 lg:p-10 mt-7 mb-5;
  }

  .vigia-content-zeitschrift {
    @apply
      pb-0
      ;
  }

  .vigia-inner {
    @apply
      pt-20
      lg:pt-10
      mb-5;

    > * {
      @apply
      mx-auto
      px-5
      sm:max-w-sm
      lg:max-w-5xl
      lg:px-10;
    }
  }

  .vigia-header {

    @apply fixed lg:sticky lg:top-0 w-full z-10 lg:bg-white transition-all duration-medium pointer-events-none;

    &.active {

      @apply bg-white;

      .vigia-menu-item:not(.current-menu-item) {
        @apply opacity-100 pointer-events-auto;
      }

      .current-menu-item a {
        @apply after:rotate-180;
      }
    }
  }

  .vigia-menu-item {
    @apply
      text-center
      flex-1
      basis-full
      transition-all
      duration-medium
      border-b-3
      border-black
      border-t-0
      order-2
      opacity-0
      pointer-events-none

      lg:basis-1/4
      lg:w-auto
      lg:border-t-3
      lg:border-r-3
      lg:border-b-0
      lg:last:border-r-0
      lg:transition-colors
      lg:duration-medium
      lg:opacity-100
      lg:pointer-events-auto
      lg:order-1

    hover:bg-black
      hover:text-white;

    a {
      @apply
        w-full
        h-full
        p-2.5
        inline-block
        uppercase
        text-lg;
    }

    &.current-menu-item {
      @apply
      bg-white
      lg:text-white
        pointer-events-auto
        order-1
        opacity-100
      lg:bg-black
      hover:text-black
      lg:hover:text-white
      lg:hover:bg-black;

      a {
        @apply
          after:inline-block
          after:transition-transform
          after:duration-medium
          after:content-['']
          after:bg-arrow-down
          after:w-7
          after:h-7
          after:mt-3
          after:ml-1
          after:bg-no-repeat
          lg:after:hidden
          pointer-events-none
          lg:after:ml-0;
      }
    }
  }

  .vigia-button,
  input[type=button],
  input[type=submit]
  button,
  a[download],
  a.wp-block-button__link,
  a.restore-item,
  .button:not(.add_to_cart_button) {
    @apply
      border-3
    border-black
      px-5
      py-2.5
    text-black
      rounded-none
    bg-white
      text-lg
      inline-block
      text-center
      uppercase
      transition-colors
      duration-medium
    hover:!bg-black
    hover:!text-white
      after:hidden;
  }

  .vigia-before-arrow {
    @apply
      before:content-['']
      before:w-5
      before:h-5
      before:relative
      before:inline-block
      before:bg-no-repeat
      before:ml-1
    ;
  }

  .vigia-before-arrow-left {
    @apply before:bg-arrow-left group-hover:before:bg-arrow-left-negative;
  }

  .vigia-before-arrow-right {
    @apply before:bg-arrow-right group-hover:before:bg-arrow-right-negative;
  }

  .vigia-before-arrow-up {
    @apply before:bg-arrow-up group-hover:before:bg-arrow-up-negative;
  }

  .vigia-before-arrow-down {
    @apply before:bg-arrow-down group-hover:before:bg-arrow-down-negative;
  }

  .vigia-before-arrow-up-right {
    @apply before:bg-arrow-up-right group-hover:before:bg-arrow-up-right-negative;
  }

  .vigia-before-arrow-hover {
    @apply
      before:transition-all
      before:duration-medium;
  }

  .vigia-after-arrow {
    @apply
      after:content-['']
      after:w-5
      after:h-5
      after:relative
      after:inline-block
      after:bg-no-repeat
      after:mr-1
    ;
  }

  .vigia-after-arrow-left {
    @apply after:bg-arrow-left group-hover:after:bg-arrow-left-negative;
  }

  .vigia-after-arrow-right {
    @apply after:bg-arrow-right group-hover:after:bg-arrow-right-negative;
  }

  .vigia-after-arrow-up {
    @apply after:bg-arrow-up group-hover:after:bg-arrow-up-negative;
  }

  .vigia-after-arrow-down {
    @apply after:bg-arrow-down group-hover:after:bg-arrow-down-negative;
  }

  .vigia-after-arrow-up-right {
    @apply after:bg-arrow-up-right group-hover:after:bg-arrow-up-right-negative;
  }

  .vigia-after-arrow-hover {
    @apply
      after:transition-all
      after:duration-medium;
  }

}

/**
*========================================
*
*	Minor Plugins
*
*========================================
*/


/**========================
*	Mailer Lite
*========================*/

#mailerlite-form_1 {

  .mailerlite-form {

    .mailerlite-form-title,
    .mailerlite-form-description {
      @apply hidden;
    }

    .mailerlite-form-title {
      @apply hidden;
    }

    .mailerlite-form-inputs {
      @apply flex flex-col ;

      label {
        @apply hidden;
      }

      .mailerlite-form-field {
        @apply flex-1 basis-full;

        input {
          @apply
            border-b-3
            border-black
            placeholder:text-gray-dark
            mx-auto
            block;
        }
      }

      input[type=submit] {
        @apply
        !border-3
      !border-black
        !px-5
        !py-2.5
      !text-black
        !rounded-none
      !bg-white
        !text-lg
        !inline-block
        !text-center
        cursor-pointer
        /* uppercase */
        transition-colors
        duration-medium
      hover:!bg-black
      hover:!text-white;
      }
    }

  }
}
