/**
*========================================
*
*	Woocommerce
*
*========================================
*/

/* @layer components { */


/**========================
*	General
*========================*/

.select2-selection {
  @apply
    !flex
    w-full
    !h-full
    !border-0
    !border-b-3
    !border-black
    items-center
    !rounded-none;

    b {
      @apply
        hidden;
    }
}

.select2-selection__rendered {
  @apply
    inline-block
    bg-white
    !text-black
    !p-0
    after:content-['']
    after:bg-arrow-down
    after:w-5
    after:h-5
    after:ml-1;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  @apply
    !top-1/2
    -translate-y-1/2;
}


/**========================
*	Shop
*========================*/
.subscription-details {
  @apply hidden;
}

/**========================
*	Archive Product
*========================*/

.price {
  @apply
    relative;
}

.woocommerce-LoopProduct-link {
  @apply
    w-full
    text-center
    ;

  img {
    margin-bottom: -0.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .vigia-content-product {
    &:last-of-type,
    &:nth-last-of-type(2),
    &:nth-last-of-type(3),
    &:nth-last-of-type(4) {
      border-bottom-width: 0;
    }
  }
}

/* price */
.woocommerce-LoopProduct-link .woocommerce-Price-amount {
  @apply
    inline-block
    w-full
    p-2.5
    border-b-3
    border-t-3
  border-black
    transition-opacity
    duration-medium
    group-hover:opacity-0;
}

/* add to cart */
.add_to_cart_button {
  @apply
    absolute
    top-0
    left-0
    opacity-0
    p-2.5
    border-b-5
    border-black
    w-full
    text-center
    flex
    justify-center
    items-center
    transition-opacity
    duration-medium
    group-hover:opacity-100
    z-10
    bg-black
    text-white
    text-base
    normal-case
    lg:text-base;
}

a.wc-forward {
  @apply mb-5 lg:mb-10;
}

.added_to_cart {
  @apply hidden;
}


/**========================
*	Cart & Checkout
*========================*/

.woocommerce-cart-form,
.cart-collaterals,
.checkout,
.woocommerce-order {

  table, tfoot {
    @apply
      w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply
      mb-0
      normal-case;
  }

  thead {
    @apply
    border-t-3
    border-black;
  }

  tr {
    @apply
      border-b-3
    border-black
      flex
      w-full;
  }

  td, th {
    @apply
      text-left;
  }

  input {
    @apply
      w-full;
  }

  .cart-subtotal,
  .order-total,
  .woocommerce-shipping-totals {
    th, td {
      @apply
        w-1/2 flex-1;
    }

    td {
      @apply text-right;
    }

    td[data-title="Versand"] {
      @apply flex-1;
    }
  }
}

.wc-proceed-to-checkout,
#payment {

  .woocommerce-notice {
    @apply !block;
  }

  .button,
  button {
    @apply
      w-full
      mt-10;
  }
}

/* Cart */

.vigia-cart-header {
  @apply
    mb-0;
}

.woocommerce-cart-form {

  .product-remove {
    @apply
      w-5
      basis-5;
  }

  .product-quantity {
    @apply
      w-1/4
      basis-1/4;
  }

  .product-name {
    @apply
      w-1/2
      basis-1/2;
  }

  .product-subtotal {
    @apply
      text-right
      w-1/4
      basis-1/4;
  }
}

.cart-collaterals {

  .order-total {
    @apply
      w-full;

    strong {
      @apply
        font-normal;
    }

    th, td {
      @apply
        w-1/2;
    }

    td {
      @apply
        text-right
        font-normal;
    }
  }
}

.return-to-shop .button {
  @apply
    w-full;
}

.vigia-refresh-button {
  @apply max-h-0 !transition-all duration-medium overflow-hidden !p-0 !border-0 !mb-0;

  &.visible {
    @apply
      max-h-20
      !border-3
      !px-5
      !py-2.5
      !mb-10
      !mt-7;
  }
}

/* Checkout */

.checkout {

  .woocommerce-billing-fields,
  .woocommerce-shipping-fields {

    p {
      @apply
        border-b-3
        border-black
        mb-0;

      &#billing_postcode_field,
      &#billing_city_field,
      &#billing_first_name_field,
      &#billing_last_name_field,
      &#shipping_postcode_field,
      &#shipping_city_field,
      &#shipping_first_name_field,
      &#shipping_last_name_field {
        @apply
          lg:w-1/2
          lg:inline-block;
      }

      label {
        @apply
          hidden;
      }

      input {
        @apply
          placeholder:text-gray-dark;
      }
    }
  }

  .woocommerce-shipping-fields {
    @apply
      mb-5 lg:mb-10;

    .woocommerce-form__label-for-checkbox {
      @apply
        flex
        border-b-3
        border-black
        gap-2.5;

      input[type=checkbox] {
        @apply
          w-5;
      }
    }
  }

  .woocommerce-additional-fields {
    label,
    textarea {
      @apply
        w-full;
    }

    textarea {
      @apply
        border-b-3 border-black;
    }
  }

  .shipping_address {
    @apply
      mt-5;
  }

  .product-name {
    @apply
      w-1/2;
  }

  .product-total {
    @apply
      w-1/2
      text-right;
  }

  .payment_methods {
    li {
      @apply
        mt-5
        grid
        gap-x-2.5
        gap-y-5
        grid-cols-payment;

      p {
        @apply
          last:mb-0;
        ;
      }

      input {
        @apply
          row-start-1
          row-end-2
          col-start-1
          col-end-2
        ;
      }

      label {
        @apply
          row-start-1
          row-end-2
          col-start-2
          col-end-3
        ;
      }

      .payment_box {
        @apply
          row-start-2
          row-end-3
          col-start-2
          col-end-3
        ;
      }
    }
  }

  .woocommerce-terms-and-conditions-wrapper {
    @apply
      mt-5;
  }

}

.paypal-buttons {
  @apply
    mx-auto
    !block
  ;
}

/* Order Review */

.woocommerce-order {
  .woocommerce-order-overview,
  .wc-bacs-bank-details {
    @apply mb-10;

    li {
      @apply
        border-b-3
        border-black
        flex
        justify-between
      ;
    }
  }
}

/**========================
*	Notices
*========================*/

.woocommerce-notices-wrapper {
  @apply
    w-full
    text-center;

  .woocommerce-message {
    @apply
      w-full
      flex
      flex-col
      mb-5
      lg:mb-10;

      .button,
      .restore-item {
        @apply
          w-full
          mt-5
          lg:mt-10;
      }
  }
}

/* } */
